@model AdminViewModel

<section class="panel">
    <header class="panel-heading label-success">
        Siparişler
    </header>
    <div class="panel-body">
        <div class="adv-table editable-table ">
            <br />
            <br />
            <div class="space15"></div>
            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                <thead>
                    <tr>
                        <th>Sipariş ID</th>
                        <th>Kullanıcı Adı</th>
                        <th>Kullanıcı Soyadı</th>
                        <th>Kullanıcı Adresi</th>
                        <th>Durum</th>
                        <th>Sipariş Detayı</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.OrderList)
                    {
                        <tr class="">
                            <td>@order.OrderID</td>
                            <td>@order.CustomerDTO.Name</td>
                            <td>@order.CustomerDTO.LastName</td>
                            <td>@order.AddressDTO.Address1 / @order.AddressDTO.City</td>
                            <td>@order.IsActive</td>
                            <td>
                                @using(Ajax.BeginForm("OrderDetail","AdminHome",new AjaxOptions { OnSuccess = "PartialData" }))
                                {
                                <button name="OrderID" value="@order.OrderID" type="submit" class="w3-button w3-round-large w3-hover-light-blue ">
                                    <i class="icon-eye-open"></i> Göster
                                </button>
                                }
                            </td>

                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</section>

