@model GemDTO

<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading w3-deep-orange">
            Tip Ekle
        </header>
        @using (Ajax.BeginForm("GemUpdate", "AdminHome", new AjaxOptions { OnSuccess = "result" }))
        {
            <div class="panel-body">
                <div class="form-horizontal tasi-form">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Tip (Taş) Adı</label>
                        <div class="col-lg-5">
                            <input type="text" value="@Model.GemName" name="name" class="form-control">
                            <p class="help-block alert alert-warning"><span>* </span> Kategori Adı Boş Bırakılamaz.(MAX 50 Karakter...)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Renk</label>
                        <div class="col-lg-5">
                            <input type="text" value="@Model.Colour" name="colour" class="form-control">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Ağırlık</label>
                        <div class="col-lg-5">
                            <input type="text" value="@Model.GemWeight" class="spinner-input form-control" name="weight">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Şekil</label>
                        <div class="col-lg-5">
                            <input type="text"value="@Model.Shape" class="spinner-input form-control" name="shape">
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right col-lg-5">
                            <button value="@Model.GemID" name="GemID" class="pull-right btn btn-danger" type="submit">Güncelle</button>
                        </div>
                    </div>

                    <div id="bilgi" class="col-md-6 col-lg-6 inline-block">
                    </div>
                </div>
            </div>
            
        }
    </section>
</div>